services:
  obs:
    container_name: obs
    build: .
    env_file:
      - .env

    ports:
      - "8000:8000"

    volumes:
      - ./app:/app/app
      - ./.env:/app/.env
      - /var/run/docker.sock:/var/run/docker.sock

    restart: unless-stopped